# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Cloud\Mega\UFV\DIS\3-Test Driven Development (TDD)\Ejercicios\Ej1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
